* {
   margin: 0;
   padding: 0;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

/*HEADER*/
.header {
    flex: 0 0 50px;
    background-color: green;
}

.main {
    flex: 1 0 auto;
    padding-top: 20px;
}

.logo-img {
    width: 40px;
    height: 40px;
}

/*LOTS*/
.auctions {
    margin-top: 60px;
    vertical-align: baseline;
    font-size: 22px;
}

.item_pic {
    width: 400px;
    height: 300px;
}

.name {
    margin-top: 10px;
    text-align: center;
}

.item_info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*LOT DETAILS*/
.info-name{
    text-align: center;
    margin: 20px;
}
.info-make-bet{
    margin: 30px;
}
.info-description{
    margin-bottom: 20px;
}
.info-status{
    color: green;
}

.btns{
    display: flex;
    justify-content: flex-end;
}
.form-inline{
    margin: 10px;
}

/*MESSAGES*/
.messages {
    height: 800px;
    font-family: Arial;
}
.messages__item {
    display: flex;
    text-align: center;
    font-size: 19px;
    padding: 10px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
}

.messages__item__icon {
    width: 10%;
}

.messages__item__lot-name {
    width: 20%;
}

.messages__item__text {
    width: 50%;
}

.messages__item__date-time {
    width: 20%;
}

/*FOOTER*/
.footer {
    flex: 0 0 50px;
    background-color: yellow;
    height: 50px;
    text-align: center;
}

footer p {
    text-transform: uppercase;
    color: #17a2b8;
    padding-top: 13px;
}
